

.forgot-passward-form-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  background-color: #e9e6f8ef;
}
@media screen and (max-width:767px) {
  .forgot-passward-form-main-container{
      padding: 0px;
  }
}


.forgot-passward-form-container {
  box-shadow: 0px 0px 6px #a4a4a4;;
  background-color: #fff;
  border-radius: 4px; 
  padding: 40px;
  width: 440px;
  
}
@media screen and (max-width: 767px) {
  .forgot-passward-form-container {
    padding: 60px;
    min-height: 100vh;
    background-color: #f9f9f9;
    border-radius: 0;
    width: 100%;
  }
}
@media screen and (max-width:300px){
  .forgot-passward-form-container{
    padding: 30px;
  }
}

.forgot-passward-form-title-container {
  text-align: center;
  display: flex;
  align-items: center;
}

.forgot-passward-form {
  padding-bottom: 20px;
}


.forgot-passward-form-heading {
  font-size: 24px;
  color: #5a5a5a;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .forgot-passward-form-heading{
    font-size: 22px;
  }
}

.forgot-passward-form-description {
  font-size: 16px;
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .forgot-passward-form-description {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.forgot-passward-input-fields-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.forgot-passward-input-field {
  outline: none;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 12px;
}
@media screen and (max-width: 767px) {
  .forgot-passward-input-field {
      padding: 10px;
    font-size: 14px;
  }
}

.forgot-password-login-button{
  background-color: #0b0feb;
  height: 36px;
  border-radius: 4px;
  color: #fff;
  border: 0;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width:767px) {
  .forgot-password-login-button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.back-to-login-container{
  text-align: center;
}
@media screen and (max-width:767px) {
  .back-to-login-container{
    margin-top: 40px;
  }
}

.back-to-login{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}


